<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- The below line loads in styling elements from the CSS file -->
    <!-- The @{} syntax is used to resolve the URL of the CSS file -->
    <!-- Comment it out to see the content without styling -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1>Welcome User, Agent</h1>
<h2>Agent Dashboard </h2>



<!--<a th:href="@{/artists/all}">-->
<!--    <br/>-->
<!--    <button type="button" class="base-button red-button">Back to Home</button>-->
<!--    <br/>-->
<!--</a>-->
</body>
</html>